
 @page "/login"
@using System.ComponentModel.DataAnnotations
@using MudBlazor
@using OrderFlowManagementFrontend.Data;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ElectronicResponse electronicsListResponse;
@inject NavigationManager Navigation

<div class="form-wrapper d-flex align-items-center justify-content-center">
    <EditForm Model="@login" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div style="margin-top:30%">
            @if (flag1 == true)
            {
                <MudAlert Severity="Severity.Error" Variant="Variant.Filled">@messageResponse</MudAlert>
            }

            @if (flag2 == true)
            {
                <MudAlert Severity="Severity.Success" Variant="Variant.Filled">@messageResponse</MudAlert>
            }

            <MudItem xs="12" sm="7">
                <MudCard Style="width:25vw;">
                    <MudCardContent>
                       
                       
                        <MudTextField Label="Email" Class="mt-3"
                                      @bind-Value="login.email" For="@(() => login.email)" />


                        <MudTextField Label="Password" Class="mt-3"
                                      @bind-Value="login.password" For="@(() => login.password)" />




                    </MudCardContent>





                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" Style="background-color:#85ea2d; color:black">Login</MudButton>
                    </MudCardActions>


                </MudCard>
            </MudItem>

            <MudItem xs="12" Style="margin-top:20px;">
                <MudText Typo="Typo.body2" Align="Align.Center">
                   Not a Registered User <a href="/" style="color:blue">Sign up here!</a>
                </MudText>
            </MudItem>
        </div>

    </EditForm>
</div>

@code {
    UserLogin login = new UserLogin();
    bool flag1 = false;
    bool flag2 = false;
    string messageResponse = "skjfh";
    HttpClient httpClient = new HttpClient();
    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            var response = await httpClient.PostAsJsonAsync("https://localhost:7122/loginuser", login);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<RegistrationResponse>();
                messageResponse = "Login successful";
                await LocalStorage.SetItemAsync("UserId", result.id);

                flag2 = !flag2;
                StateHasChanged();
                await Task.Delay(3000);
                Navigation.NavigateTo("/Products");

            }
            else
            {
                messageResponse = "Incorrect Details";
                flag1 = !flag1;
                StateHasChanged();
                await Task.Delay(3000);
                flag1 = !flag1;
                StateHasChanged();
            }




        }
        catch (Exception ex)
        {
            // Handle error
            Console.Error.WriteLine($"Error during submission: {ex.Message}");
        }
        StateHasChanged();
    }
}
